@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/Proxima-Nova/ProximaNova-Semibold.otf') format("opentype");	
}


/* Дима дописал */
.variable-content{
	float: right;
	width: 650px;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

/* Общие стили для всех секций */
.aboutbox {
	
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}
.aboutbox .aboutbox-header {
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px #3ba8c0 solid;
	margin: 0 0 23px 0;
	padding: 13px 23px;
	display: inline-block;
}
.aboutbox-body {
	padding-bottom: 40px;
}
/* Общие стили для всех секций - конец */

/* Лицо */
.image-wrap {
	float: left;
	margin-left: 55px;
	margin-top: 18px;
}
.avatar-box {
	width: 142px;
	height: 142px;
	border-radius: 50% 50%;
	overflow: hidden; /* Фото в окне */
	border: 5px solid #3ba8c0;
}
.avatar {
	width: 100%
}
/* Лицо - конец */

/* Список анкетных данных */
.aboutbox .worksheet-wrap {
	float: right;
	width: 415px;
}
.worksheet-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.worksheet-item {
	margin-bottom: 5px;
}
.worksheet-what {
	font-family: 'fira_sansmedium';
	font-size: 17px;
	float: left;
}
.worksheet-info {
	overflow: hidden;
	font-family: 'fira_sansbook';
	font-size: 15px;
	max-width: 218px;
	margin-left: 20px;
	float: left;
} 
.worksheet-info.name {
	max-width: 260px;
}

/* Ключевые навыки */
.skills-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-width: 210px;
}
.worksheet-info.skills .skills-list{
	width: 224px;
	padding: 0;
	list-style: none;
}
.skills {
	font-family: 'ProximaNova-Semibold';
	font-size: 14px;
}
.skills-list .skill-item {
	border-radius: 2px;
	padding: 0 7px;
	margin-top: 6px;
	margin-right: 6px;
	color: white;
	display: inline-block;
	line-height: 1.2;
	min-width: 40px;
	text-align: center;
	background: #3ba8c0; /* Old browsers */
	background: -moz-linear-gradient(top,  #3ba8c0 1%, #3ba8c0 50%, #2e8ca2 51%, #2e8ca2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3ba8c0), color-stop(50%,#3ba8c0), color-stop(51%,#2e8ca2), color-stop(100%,#2e8ca2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3ba8c0 1%,#3ba8c0 50%,#2e8ca2 51%,#2e8ca2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3ba8c0 1%,#3ba8c0 50%,#2e8ca2 51%,#2e8ca2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3ba8c0 1%,#3ba8c0 50%,#2e8ca2 51%,#2e8ca2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3ba8c0 1%,#3ba8c0 50%,#2e8ca2 51%,#2e8ca2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 ); /* IE6-9 */
}
/* Список анкетных данных - конец */ 

.aboutbox .aboutbox-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.aboutbox .aboutbox-item {
	margin-left: 58px;
	background-position: 0px center;
}
.aboutbox .where {
	margin-left: 65px;
	font-size: 17px;
	font-family: 'fira_sansbook';
}

.aboutbox .period {
	margin-left: 65px;
	font-size: 15px;
	font-family: 'fira_sanslight';
}

.aboutbox-item.icon-work {
	background: url('../img/work.png') 0px center no-repeat;	
}
.aboutbox-item.icon-college {
	background: url('../img/college.png') 0px center no-repeat;
}
.aboutbox-item.icon-course {
	background: url('../img/course.png') 10px center no-repeat;
}



	