/* тултипы */
.qtip-mystyle {
	background-color: #f97e76;
	border-color: #f97e76;
	font-family: 'fira_sansbook';
	color: #ffffff;
	font-size: 13px;
}

/* обводка */
.has-error{
	background-color: #fad2d1 !important;
	border-color: #f97e76 !important;
}