@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/Proxima-Nova/ProximaNova-Semibold.otf') format("opentype");	
}

.variable-content{
	float: right;
	min-width: 650px;
	border-radius: 4px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

.auftorization {
	margin: 150px auto;
	height: 484px;
	width: 590px;
	background: #eff3f7;
	border-radius: 4px;
	overflow: hidden;
	text-align: center;
}
.log-header {
	margin: 0;
	margin-bottom: 20px;
	height: 92px;
	background-color: #48cbe8;
	color: white;
	font-size: 40px;
	font-family: 'fira_sansbook';
	line-height: 92px;
	border-bottom: 15px solid #67dffa;
}
.label {
	font-size: 36px;
	color: #959aa8; 
}
.log-form {
	width: 420px;
	margin: auto;
}
.log-form .input {
	height: 60px;
	width: 422px;
	font-size: 17px;
	padding-left: 20px;
	border: 1px solid #48cbe8;
	border-radius: 4px;
}
.btn {
	height: 55px;
	width: 220px;
	background-color: #48cbe8;
	border: 1px solid #48cbe8;
	border-radius: 4px;
	margin-top: 30px; 
	font-family: 'fira_sansbook';
	font-size: 36px;
	color: white;
	box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75); 
}