@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/Proxima-Nova/ProximaNova-Semibold.otf') format("opentype");	
}

.wrapper {
	margin-bottom: 100px;
}

.variable-content{
	float: right;
	min-width: 650px;
	border-radius: 4px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

.auftorization {
	position: absolute;
	margin: auto;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	height: 484px;
	width: 590px;
	background: #eff3f7;
	border-radius: 4px;
	overflow: hidden;
	text-align: center;
}

.header-wrap {
	background-color: #48cbe8;
	border-bottom: 15px solid #67dffa;
	margin-bottom: 15px;
}

.log-header {
	margin: 0;	
	padding-top: 17px;
	padding-bottom: 13px;
	font-weight: normal;
	color: white;
	font-size: 40px;
	font-family: 'fira_sansbook';
}
.log-name {
	margin-bottom: 10px;
}
.label {
	font-size: 36px;
	color: #959aa8; 
}
.log-form {
	width: 420px;
	margin: auto;
}

.log-password {
	margin-bottom: 33px;
}
.log-form .input {
	height: 60px;
	width: 400px;
	font-size: 17px;
	color: #48cbe8;
	padding-left: 20px;
	border: 1px solid #48cbe8;
	border-radius: 4px;
}

::-webkit-input-placeholder {
	color: #54cee9; /* Chrome, Safari */
}
:-moz-placeholder {
	color: #54cee9; /* Firefox */
}

.btn {
	height: 53px;
	width: 226px;
	background-color: #48cbe8;
	border: 1px solid #48cbe8;
	border-radius: 4px;
	font-family: 'fira_sansbook';
	font-size: 36px;
	color: white;
	box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75); 
}

.has-error{
	background-color: #fad2d1 !important;
	border-color: #f97e76 !important;
}