html {
	height: 100%;
}
body {
	height: 100%;
	background: url(../img/ppattern.png) repeat;
	font: normal 1em 'fira_sanslight';
	color: #4a545d;
}

/* футер к низу */
.wrapper {
	position: relative;
	min-height: 100%;
	min-width: 970px; 
	height: auto;
}
.wrapper:after {
	content: "";
	height: 80px;
	display: block;
}
.page-footer {
	min-width: 970px;
	height: 80px;
	margin-top: -80px;
}
/* футер к низу - конец */

/* Шапка */
.container-big {
	max-width: 1200px;
	min-width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.page-header {
	height: 119px;
	background: #eff3f7 url(../img/line.png) bottom center no-repeat;
	position: relative;
	margin-bottom: 39px;
}
.page-header .header-logo-link {
	position: absolute;
	top: 39px;
	left: 0px;
	
}
.page-header .header-logo-text {
	position: absolute;
	left: -9999px;
}
.page-header .socials {
	position: absolute;
	top: 36px;
	right: 0px;
}


/* Cоц.блок */
.socials {
	margin: 0;
	padding: 0;
	min-width: 260px;
}
.socials .socials-item {
	list-style: none;
	display: inline-block; 
	height: 47px;
	width: 47px;
	margin-left: 19px;
	/* Отступ у таких элементов всегда слева */
}
.socials .socials-item:first-child {
	margin-left: 0;
	/* У первого элемента обнуляем отступ*/
}
.socials .socials-link {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background: url(../img/socials.png) no-repeat;
}
.socials .socials-link.vk {background-position: -412px -10px;}
.socials .socials-link.tw {background-position: -278px -10px;}
.socials .socials-link.fb {background-position: -10px -10px;}
.socials .socials-link.gt {background-position: -144px -10px;}
.socials .socials-link.vk:hover {background-position: -479px -10px;}
.socials .socials-link.tw:hover {background-position: -345px -10px;}
.socials .socials-link.fb:hover {background-position: -77px -10px;}
.socials .socials-link.gt:hover {background-position: -211px -10px;}
/* Шапка - конец */

/* Сайдбар */
.sidebar {
	width: 250px;
	float: left;
}

/* Навигация */
.navigation {
	overflow: hidden;
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}
.navigation .navigation-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation .navigation-item {
	border-top: 2px solid #3ba8c0;
	margin: 0 11px;
}
.navigation .navigation-item:first-child {
	border-top: none;
}

/* Навигация - текущий пункт меню*/
.navigation .navigation-item.current {
	background: #3ba8c0;
	margin: 0;
	border-bottom: none;
	padding-left: 11px;
	margin-bottom: -2px; /* Хак: для полоски */
}
..navigation .navigation-item.current .nav {
	color: #f9fafb;
	font-size: 22px;
}
/* Навигация - текущий пункт меню - конец */

.navigation .navigation-item.current .navigation-link {
  color: #f9fafb;
  font-size: 22px;
}
.navigation .navigation-link {
	font-family: 'fira_sansbook';
	font-weight: normal;
	display: block; /* ссылка заполняет весь блок */
	font-size: 21px;
	text-decoration: none;
	color: #959aa8;
	margin-left: 16px;
	padding: 18px 0px 18px 0px;
}
.navigation .navigation-link:hover {
	color: #3ba8c0;
}
/* Навигация - конец */

/* Адрес */
.contacts {
	overflow: hidden;
	border-radius: 4px;
	background: #3ba8c0;
}
.contacts-header {
	font-style: normal;
	font-size: 21px;
	color: #fbfcfd;
	padding: 6px 0px 1px 0px;
}
.header-inner-text {
	font-family: 'fira_sansbook', sans-serif;
	margin-left: 21px;
}
.contacts .contacts-item {
	padding: 7px 0px;
}
.contacts .contacts-list {
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
.contacts .contacts-link {
	font-size: 17px;
	color: #fbfcfd;
	margin-left: 83px;
	font-style: normal;
	text-decoration: none;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
     white-space: nowrap;
    display: block;
}
.contacts .contacts-link:hover {
	text-decoration: underline;
}
.contacts .contacts-item.contacts-item-mail {
	background: #41b9d4 url('../img/mail.png') no-repeat;
	background-position: 42px 12px;	
}
.contacts .contacts-item.contacts-item-phone {
	background: #48cbe8 url('../img/telefon.png') no-repeat;
	background-position: 42px 10px;
}
.contacts .contacts-item.contacts-item-skype {
	background: #51daf8 url('../img/skype.png') no-repeat;
	background-position: 42px 10px;
}
/* Адрес - конец */


/* Футер */
.page-footer {
	background: #eff3f7 url(../img/line.png) top center no-repeat;
	font-family: 'fira_sanslight';
	color: #4a545d;
}
.page-footer .container {
	padding-top: 23px;
	position: relative;
}
.page-footer .copyright {
	margin: 0 180px;
	padding-top: 7px;
	text-align: center;
	font-size: 13px;
}

/* Логин */
.page-footer .lock {
	position: absolute;
	top: 26px;
	left: 20px;
}
.lock .lock-inner {
	display: block;
	height: 40px;
	font-family: 'fira_sansbook';
	font-size: 16px;
	line-height: 2.2;
	color: #4a545d;
	text-decoration: none;
	background: url(../img/lock-close.png) no-repeat;
	padding-left: 24px; 
}
.lock .lock-inner:hover {
	text-decoration: underline;
	background: url(../img/lock-open.png) no-repeat;
}

/* общие классы*/
.container {
	width: 960px;
	margin: 0 auto;
}
.text-center {
	text-align: center;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}






