@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/Proxima-Nova/ProximaNova-Semibold.otf') format("opentype");	
}

.variable-content{
	float: right;
	width: 650px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

/* Общие стили для всех секций */
.portfoliobox {
	
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}
.portfoliobox .portfoliobox-header {
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px #3ba8c0 solid;
	margin: 0 0 23px 0;
	padding: 13px 23px;
	display: inline-block;
}
.portfolio-body {
	min-height: 770px;
}
/* Общие стили для всех секций - конец */

/* Общие стили для проектов */
.progect {
	display: inline-block;
	vertical-align: top;
	height: 240px;
	width: 183px;
	margin: 0 0 39px 30px;
	text-align: center;
}

.portfolio-list {
	margin: 0;
	padding: 0;
	font-size: 0px;
}
.work-box:nth-child(3n+1) {
	margin-left: -10px;
}

 /* Эффект наведения на проект */
.work-box:hover .more-info  {
	display: block;
    cursor: pointer;
}
.work-box:hover  .img-preview {
	opacity: 0.2;
}/* Эффект наведения на проект - конец */

.work-box {
	height: 125px;
	border: 2px solid #3ba8c0;
	border-radius: 4px;
	width: 179px;
	margin-bottom: 10px;
}
.project-info-link {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	background: #016ca4;
	margin-bottom: 10px;
}
.more-info {
	font-size: 12px;
	display: none;
	position: absolute;
	width: 62px;
	color: white;
	margin-left: 55px;
	margin-top: 53px;
	background: #016ca4;
	border: 2px solid white;
	border-radius: 4px;
}
.img-preview {
	width: 100%;
}
.project-link {
	font: italic 13px 'fira_sanslight';
	text-decoration: none;
	color: #3ba8c0;
	margin-bottom: 8px;
}
.inf-work {
	font: normal 15px 'fira_sanslight';
	color: #4a545d;
	width: 170px;
}
.add-new-item {
	position: relative;
    border: 2px dashed #3ba8c0;
    border-radius: 4px;
    width: 180px;
    height: 125px;
    background: #edf8fc;
    background-image: url('../img/new_prog.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 0 0 20px;
    padding: 0;
}
.add-new-item:hover {
	background: white;
	background-image: url('../img/new_prog.png');
	background-repeat: no-repeat;
    background-position: center center;
}
.add-new-text {
	text-decoration: none;
	font-size: 13px;
	font-family: 'fira_sanslight';
	color: #3ba8c0;
	padding-top: 90px;
	display: block;
    width: 100%;
    height: 100%;
}
/* Стили для popup */
.element.style {
    left: 494.5px;
    position: absolute;
    top: 300px;
    z-index: 9999;
    display: block;
    opacity: 1;
}
.modal-wrapper {
	overflow: hidden;
	width: 360px;
	height: 490px;
	background: #eff3f7;
	border-radius: 5px;
	margin: 0 auto;
}
.modal-header {
	
	height: 44px;
	border-bottom: 9px solid #67dffa;
	background: #48cbe8;
	padding: 0 10px;
	margin-bottom: 10px;
}
.b-close {
	float: right;
	height: 30px;
	width: 30px;
	background: #48cbe8 url(../img/close.png) no-repeat;
	border: 1px solid #48cbe8;
	margin-top: 5px;
	}
.modal-title {
	float: left;
	display: block;
	font-size: 25px;
	/*font-family: 'fira_sansregular';*/
	color: white;
	margin: 0;
}
.modal-body {
	width: 320px;
	margin: 0 auto;
}
.label {
	display: block;
    font-family: 'fira_sansbook';
    font-size: 17px;
    font-weight: normal;
    color: #959aa8;
    margin-bottom: 5px;
}
.fileupload-wrapper .input {
	background: white;
	background-image: url('../img/upload-image.png');
	background-repeat: no-repeat;
	background-position: right center;
}
.fileupload {
	opacity: 0;
	float: right;
    margin-left: 267px;
    width: 52px;
    position: absolute;
    padding-top: 10px;
}
.input {
	height: 39px;
	width: 308px;
    color: #48cbe8;
    font-family: 'fira_sanslight';
    font-size: 13px;
    padding-left: 10px;
    border: 1px solid #48cbe8;
    border-radius: 4px;
    margin-bottom: 5px;
}
.textarea {
	color: #48cbe8;
    font-family: 'fira_sanslight';
    font-size: 13px;
    padding-left: 10px;
    border: 1px solid #48cbe8;
    border-radius: 4px;
    width: 308px;
}
.btn {
	margin-left: 90px;
    width: 140px;
    height: 30px;
    font-family: 'fira_sansbook';
    font-size: 19px;
    color: white;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    background-color: #48cbe8;
    border: 1px solid #48cbe8;
}
#new-progect-popup {
	display: none;
}



